{% extends 'base.html' %}

{% block content %}

<canvas id="chart" width="100%" height="40"></canvas>

<script>
    var data = {
        labels: [
            {% for expense in expenses %}
            "{{ expense.date }}",
            {% endfor %}
        ],
        set: [
        {% for expense in expenses %}
            {{ expense.amount }},
            {% endfor %}
        ]
    };

    window.addEventListener('DOMContentLoaded', event => {
        drawChart("chart", "Expenses", data);
    });
</script>

{% endblock %}